# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d8a3e1a43749a47fd3708838df903ffa82ddfd15001bbfa55d7a881cad5d3884d5402820550802978174ab6058e18a87b32a0756562eb8ef7624464bfb4bbf34

test:
  secret_key_base: 1d9ad344fcd71cc3a651b7e3eca825afc18f64711a9befce509fe7ef75519b626d0138cbba97928c786b94c9692e3892c6151513b9def20be8e91696c267be42

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
